<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--
Setup unauthenticated redirect to login page.
Setup unauthenticated lockout.

-->

<configuration>

	<connectionStrings>
		<add name="MainSquireDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SquireDatabase.mdf;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>

		<!--Set a login page up-->
		<authentication mode="Forms">
			<forms loginUrl="uauth/login.aspx" name=".ASPXFORMSAUTH" defaultUrl="auth/user-home.aspx"></forms>
		</authentication>
		<!--Deny Unlogged Users-->
		<authorization>
			<allow users="Admin"/>
			<deny users="*"/>

		</authorization>



		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<!--Role provider-->
		<roleManager defaultProvider="SqlRoleProvider" enabled="true" cacheRolesInCookie="true" >
			<providers>
				<clear />
				<add
					name="SqlRoleProvider"
			type="System.Web.Security.SqlRoleProvider"
			connectionStringName="MainSquireDatabase"
					applicationName="CapstoneWebPage"
			/>
			</providers>
		</roleManager>
		<!--Membership provider-->
		<membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear />
				<add
				  name="SqlMembershipProvider"
				  type="System.Web.Security.SqlMembershipProvider"
				  connectionStringName="MainSquireDatabase"
				  applicationName="CapstoneWebPage"
				  enablePasswordRetrieval="false"
				  enablePasswordReset="false"
				  requiresQuestionAndAnswer="false"
				  requiresUniqueEmail="true"
				  passwordFormat="Hashed"
				  minRequiredPasswordLength="1"
				  minRequiredNonalphanumericCharacters="1"
				  
				  />
			</providers>
		</membership>
		<!--Profile Provider-->
		<profile enabled="true" defaultProvider="SqlProfileProvider" >
			<providers>
				<clear />
				<add
				  name="SqlProfileProvider"
				  type="System.Web.Profile.SqlProfileProvider"
				  connectionStringName="MainSquireDatabase"
				  applicationName="CapstoneWebPage"
				  />
			</providers>
			<properties>
				<add name="MGAId" type="String"/>
			</properties>

		</profile>
	</system.web>
	<!--Fix an error with validators-->
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="DefaultTitle" value="SQUIRE - MGA"/>
	</appSettings>

	<!--Set default document.-->
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="uauth/home.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<!--Auto-generated.-->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>